.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 8px;
}

.error {
    color: red;
    font-size: 20px;
}