.form {
    display: flex;
    flex-direction: column;
    border: 2px solid #363535;
    padding: 10px;
    border-radius: 5px;
    margin-left: 30px;
    width: 300px;
}

.label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 500;
}

.input {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 10px 15px;
    width: 120px;
    font-size: 14px;
    color: #080808;
    background-color: #e9e8e8;
    border: 2px solid #c0bbbb;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 90px;
}

.button:hover {
    color: #292929;
    border: 2px solid #8f8e8e;
    background-color: #9b9b9b;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}