.list {
    list-style: none;
    font-size: 14px;
    padding: 0;
    margin: 30px;
    display: flex;
    gap: 10px;
    width: 800px;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border: 2px solid #eee;
    border: 2px solid #363535;
    border-radius: 4px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.name {
    font-size: 16px;
}

.number {
    font-size: 14px;
    color:#292929;
}

.button {
    background-color: #e9e8e8;
    color:#292929;
    font-size: 14px;
    border: none;
    padding: 6px 12px;
    margin-right: 10px;
    border: 2px solid #c0bbbb;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #9b9b9b;
    border: 2px solid #8f8e8e;
}

.empty {
    text-align: center;
    color: #999;
    font-size: 16px;
    margin-top: 20px;
}